/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --title-color: #FF8DCB;
  --after-accent--text-color: #353430;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --botton-color: #353430;
  --title-of-section:#353430;
}



@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --title-color: #FF8DCB;
  --after-accent--text-color: #353430;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --botton-color: #353430;
  --title-of-section:#353430;
  }

  .page.theme_light .decorative-element {
    visibility: hidden;
  }

  .page.theme_auto .decorative-element {
    visibility: hidden;
  }

  .header__theme-menu-button:hover {
    cursor: pointer;
    border: 1px solid var(--botton-color);
  }
}