/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --after-accent--text-color: #000028;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --botton-color: #FF0070;
  --title-of-section: #FF0070;
}