/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --after-accent--text-color: #000028;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --botton-color: #ff0070;
  --title-of-section: #ff0070;
  --font: "IBM Plex Mono", sans-serif;
  --shadow-color: #ff0070;
  --focus-color: #ff0070;
}
